/* login_layout_01.css */

body{ background-color: #f8f8f8;}

h1{ font-size: 1.5rem; text-align: center;}

#wrap { 
  position:relative;
  width: 260px; height: 284px;
  margin:30px auto;  border:1px solid #ddd; 
  box-sizing: border-box;
  background-color: #fff;}

  fieldset {    
    width:100%; height:auto;
    margin:0; padding:0; border:0; 
    box-sizing: border-box;  }

  fieldset > h2 { 
    width:100%; height:20px; margin-bottom:12px;
    font-size:16px; text-align:center; color:#333;}

  .social_login {
    padding:16px 56px 26px;
    border-bottom:1px solid #ddd;
  }

  .social_login ul { width:100%; height:42px;}
  .social_login li {
    float:left; width:42px; height:42px;
    margin-right:10px;}
  .social_login li:last-child {margin-right:0}  
  .social_login button{ 
    border-radius:3px;
    background-color: #c7f;}

/* ---------------------------- */
.member_login {
  min-height:68px; 
  margin-top:20px; margin-bottom:10px;
  padding:0 10px;
}
.user_sign{ 
  float:left; width:168px; height:68px; 
  background-color: #cdc;}

.user_sign > input {
  width:100%; height:50%;
  border:0; 
  box-sizing:border-box;
  border:1px solid #ddd;
  text-indent:0.5rem;
  letter-spacing:0.15rem;
}
.user_sign > input:first-of-type{
  border-bottom:0;
}

input::placeholder { color:#fac; }

.user_confirm{ 
  float:right; width:65px; height:68px; 
  background-color: #cdc;}
.user_confirm input {
  width: 100%; height: 100%;
  border:1px solid #ddd;
  margin: 0; padding: 0; box-sizing: border-box;
  cursor:pointer;
}

/* ---------------------------- */
  .join_and_find {
    min-height:20px;
    padding:0 10px;
  }

  .join_and_find a {
    font-size:12px;
    padding:2px;
    border:1px solid #ddd;
    border-radius:3px;
  }
  .join_and_find a:first-of-type {
    margin-right:15px;  }

    #testCheck:checked + label > i{color:#f07;}