/* unit_02.css */

#wrap { 
  position: fixed; top: 0; bottom: 0; left: 0; right: 0; margin: auto;
  width:600px; height:500px; background-color: #ccc;
}

.vw {
  position: absolute; left:50%; top:50%; transform:translate(-50%, -50%);
  width:50vw; height:30vw; background-color: #fa0;}

.vh { 
  position: absolute; left: 50%; top: 50%; transform:translate(-50%, -50%);
  width:50vh; height:20vh; background-color: #7af;}

.ch {
  position: absolute; left:50%; top:50%; transform:translate(-50%, -50%);
  width:10ch; height:5ch; background-color: #afa;
  font-size:5rem; font-weight:normal; font-family:monospace;
}